:root {
    --primary-color: #f93943;
    --secondary-color: #7eb2dd;
    --tertiary-color: #dda97e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header and nav bars */

header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 55px;
    color: var(--primary-color);
}

header a {
    color: var(--secondary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: right;
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 1.7vw;
}

header nav ul li a:hover    {
    color: var(--primary-color);
}

/* INSERT HOVER HERE LATER */

/* Header end */

/* Hero section */

.hero {
    background-image: url(../images/joshua-reddekopp-GkFQEOubrCo-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 80%;
    padding-bottom: 9%;
}

.hero-about {
    width: 200%;
    text-align: right;
    padding: 200px 0 0 0;
    margin: 4%;
    font-size: 37px;
}

/* hero end */

/* About me section */

.shaun-info {
    background-color: black;
    color: navajowhite;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.shaun-info-right {
    text-align: center;
    width: 80%;
    flex: 2;
    padding: 35px;
    line-height: 1.9;
}

.shaun-info-right h3 {
    font-size: 180%;
    align-items: right;
}

.shaun-info-left {
    text-align: center;
    width: 100%;
    flex: 1;
    margin: 0 35px;
}

.shaun-img img {
    width: 100%;
    margin: 0 45px 45px 45px;
    border-color: var(--secondary-color);
    border-width: 14px;
    border-style: solid;
}

.shaun-mug h3 {
    font-size: 50px;
    padding-left: 80px;
    padding-top: 15px;
}

.works {
   background: var(--tertiary-color);
   color: black;
}

.work {
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.work img:hover {
    opacity: .5;
}

.work h3 {
    flex: 1 30%;
    font-size: 60px;
    padding-right: 160px;
    border-right: 3px solid;
}

.work-right {
    flex: 1 60%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

#beyond-peak  {
    width: 100%;
}

.work-right img {
    width: 100%;
    flex: 1 15%;
    opacity: .9;
}

.page-right {
    max-width: 50%;
    padding: 25px;
}

.description {
    font-size: 30px;
    padding: 15px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    color: var(--primary-color);
    justify-content: space-around;
}

.contact-me h3 {
    font-size: 60px;
    flex: 1;
}

.contact-info   {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
    margin: 60px;
    justify-content: space-evenly;
}

.info {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: left;
}

/* Media query for smaller desktop screens and below */
@media screen and (max-width: 980px) {
    .work {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .work h3 {
        border-right: 0px;
        font-size: 80px;
        padding: 0px;
    }

    .work h4 {
        border-top: 4px solid;
        padding-top: 15px;
    }

    .work-right {
        margin: 0;
        width: 100%;
    }
}

/* Media query for tablets and below */
@media screen and (max-width: 768px) {

    header nav ul li a {
        font-size: 3.7vw;
    }

    .shaun-info-right p {
        font-size: 27px;
    }

    .shaun-info-right h3 {
        text-decoration: underline;
        font-size: 35px;
    }
}

/* Media query for mobile phones and below */
@media  screen and (max-width: 575px) {
    
    .hero h2 {
        font-size: 29px;
    }

    .shaun-mug h3 {
        padding: 0px;
    }
    
    .shaun-img img {
        margin: 0px
    }

    .header nav ul li a {
        font-size: 4.7vw;
    }
}